# The files mentioned here are only on my local machine
# Don't pollute upload with easily regenerated binary ("build" only exists in my local repo)
build/
.vs/
bin/
obj/
# Also local repro only
How to release.txt
UnofficialAWB link.txt
